/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&display=swap');
.titleDiv {
	margin: auto;
}
.homepageTitle {
	text-align: center;
	margin-top: 15%;
	font-size: 4.5em;
	letter-spacing: 4px;
	font-family: 'Inconsolata', monospace;
	font-weight: 800;
}
.homepageSubtitle {
	text-align: center;
	margin-top: 6px;
	font-size: 3em;
	letter-spacing: 4px;
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
}
.homepageButtonText {
	text-align: center;
	margin-top: 6px;
	font-size: 3em;
	letter-spacing: 4px;
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
	width: 30%;
	padding: 5px;
	margin-left: 35%;
	background: rgb(110,104,210);
	background: -webkit-linear-gradient(left, rgba(110,104,210,1) 0%, rgba(0,212,255,1) 100%);
	border-radius: 7px;
}
.homepageAuthors {
	position: fixed;
	text-align: center;
	left: 0px;
	bottom: 0px;
	margin-left: 3%;
	font-size: 1.2em;
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
}